.banner_container {
    position: absolute;
    margin-top: 5rem;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.banner_bg {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(242, 250, 255, 1) 31%, rgba(192, 226, 255, 1) 100%);
}

.banner_text_btn {
    padding: 2rem 5rem;
    width: 30%;
}

.banner_text_btn h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.2rem;
}

.banner_text_btn p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
}

.banner_btn{
    margin-top: 2.2rem;
    border: #017EFF solid 1.5px;
    border-radius: 10px;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 800;
    color: #017EFF;
    background-color: transparent; 
    cursor: pointer;   
}

.banner_btn:hover{
    background: #017EFF;
    transition: 0.5s;
    color: #fff;
}

.banner_image img {
    padding-right: 5rem;
    padding-bottom: 0;
    width: 100%;
}


/* --------responsive--------- */
@media (max-width:700px){
    .banner_container {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 90vh;
    }

    .banner_bg {
        padding: 0;
        display: block;
        justify-content: center;
        margin: 0rem;
        border-radius: 0;
    }

    .banner_text_btn {
        padding: 2rem  0!important;
        text-align: center;
        margin: 5rem 0 0 0;
        width: 100%;
    }
    
    .banner_text_btn h1 {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    
    .banner_text_btn p {
        font-size: 0.8rem;
    }
    
    .banner_btn{
        margin-top: 2.3rem;
        padding: 0.5rem 1rem;
    }
    
}