.navbar_container {
    margin-top: 2rem;
    position: absolute;
    align-items: center;
    display: flex;
    background-color: #F2F9FF;
    width: 100%;
    overflow: hidden;
}

.nav_icons{
    display: none;
} 

.navbar_logo {
    padding: 5px;
    margin-left: 3rem;
}

.nav_links {
    padding-left: 8rem;
}

.nav_link {
    padding: 0 3rem ;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
}

.nav_link::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #017EFF;
    display: block;
    margin: 0%;
    transition: 0.5s;
}
.nav_link:hover::after{
    width: 100%;
}

/* ------responsive-------- */

@media (max-width:1300px) {
    .nav_links {
        padding-left: 5rem;
    }
    
    .nav_link {
        padding: 0 2rem ;        
    }  
}

@media (max-width:700px) {

    .navbar_container {
        margin-top: 0rem;
        background-color: transparent;
        z-index: 10;
    }
    

    .nav_icons{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
        z-index: 10;
    }

    .nav_links{
        position: absolute;
        background: #017EFF;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav_link{
        background-color: transparent;
    }
}


