* {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Josefin+Sans:wght@300;500&family=Jost:wght@100;200;300;400;600&family=Kumbh+Sans:wght@100;200;300;400;500;700&family=Poppins:wght@100;200;400;500;700&display=swap');
  font-family: 'Jost', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}